

<div class="container" style="align-content: center;">


<div class="row">


    <div class="card" style="width: 40rem; margin-left: 300px; ">
        <!-- <img class="card-img-top" [src]="selectedProduct.images[0]" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">{{selectedProduct.title}}</h5>
    
          <p class="card-text" style="display: inline;">{{selectedProduct.price | currency:'EGP'}}</p>
          <p  class="card-text">{{selectedProduct.count | count}}</p>
       
        </div>
      </div>



</div>


</div>