
body {
	margin:0;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
    margin-top: 100px;
}

.table {
	width:100%;
	border:1px solid ;
}

.table-header {
	display:flex;
	width:100%;
	background:#651212;
}

.table-row {
	display:flex;
	width:100%;
	

}

.data, .head {
	flex: 1 1 20%;
	text-align:center;
}

.head {
	text-transform:uppercase;
}

.headrow {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	
	
	
	
}